section {
  background-color: #eee;
  padding: 20px;
  width: 400px;
  margin: 60px auto;
}

input {
  border: none;
  font-size: 25px;
  font-weight: bold;
  background-color: #eee;
  width: 100%;
}

.theme {
  background-color: red;
}

.theme input {
  color: #fff;
  background-color: red;
  border-bottom: 2px solid #000;
}
